body {
    background-color: #444;
    color: #fff;
    text-align: center;
    
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

h1, h2 {
    font-weight: 300;
}